{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar and Sidebar Example</title>
    <link rel="stylesheet" href="{% static 'css/tester.css' %}">
    <script>
        .container {
            display: flex;
            min-height: 100vh; /* Ensure the container takes up at least the full height of the viewport */
            margin-top: 102px; /* Space for the fixed navbar */
        }
        
        /* Sidebar */
        .sidebar {
            width: 273px;
            background-color: white;
            color: black;
            padding: 20px;
            position: sticky; /* Sticky will make it stick to its container */
            top: 102px; /* Align below the navbar */
            height: 4000000px; /* Adjust height according to content */
            flex-shrink: 0; /* Prevent it from shrinking */
            overflow-y: auto; /* Allow vertical scrolling if content overflows */
            border: 1px solid #e8e8e8;
            box-shadow: 0 20px 20px rgba(0, 0, 0, 0.5);
            box-sizing: border-box; /* Include padding in the height */
        }
        
        /* Main Content */
        .main-content {
            flex-grow: 1; /* Allow the main content to grow and take remaining space */
            padding: 20px;
            background-color: #f9f9f9;
        }
    </script>
</head>
<body>
    <nav class="navbar">
        <div class="logo">
            <a href="{% url 'sitess' %}"><img src="{% static 'images/company8.png' %}" alt="Logo"></a>
        </div>
        <div class="search-bar">
            <form method="GET" action="{% url 'site_search' %}">
                <input type="text" name="search_query" placeholder="Search..." value="{{ request.GET.search_query }}">
                <input type="hidden" id="filterByInput" name="filter_by" value="{{ request.GET.filter_by|default:'nom_site' }}">                
                <button type="submit"><img src="{% static 'images/search.png' %}" alt="Search"></button>
            </form>

        </div>
        <div class="filter">
            <button type="button" id="filterButton"><img src="{% static 'images/fil5.png' %}" alt="Filter"></button>
            <div id="filterDropdown" class="filter-dropdown">
                <a href="#" onclick="setFilterBy('nom_site')">Site Name</a>
                <a href="#" onclick="setFilterBy('code_site')">Site Code</a>
                <a href="#" onclick="setFilterBy('adresse')">Address</a>
                <a href="#" onclick="setFilterBy('commune')">Commune</a>
                <a href="#" onclick="setFilterBy('daira')">Daira</a>
                <a href="#" onclick="setFilterBy('wilaya')">Wilaya</a>
                <a href="#" onclick="setFilterBy('typologie')">Typology</a>
                <a href="#" onclick="setFilterBy('propriete')">Property</a>
                <a href="#" onclick="setFilterBy('bailleur')">Bailleur</a>
            </div>
        </div>
        
    </nav>
    <div class="container">
        <div class="sidebar">
            <ul>
                <li><a href="{% url 'sitess' %}"><img src="{% static 'images/sites.png' %}" alt="Dashboard Default" class="default-img"><img src="{% static 'images/sites5.png' %}" alt="Dashboard Hover" class="hover-img">Sites</a></li>
                <li><a href="{% url 'contrats' %}"><img src="{% static 'images/conts.png' %}" alt="Profile Default" class="default-img"><img src="{% static 'images/conts5.png' %}" alt="Profile Hover" class="hover-img">Contracts</a></li>
                <li><a href="{% url 'notaires' %}"><img src="{% static 'images/not.png' %}" alt="Messages Default" class="default-img"><img src="{% static 'images/not5.png' %}" alt="Messages Hover" class="hover-img">Notaires</a></li>
                <li><a href="{% url 'calculate_statistics' %}"><img src="{% static 'images/sett2.png' %}" alt="Settings Default" class="default-img"><img src="{% static 'images/sett5.png' %}" alt="Settings Hover" class="hover-img">Statistics</a></li>
            </ul>
        </div>
        <div class="main-content">
            <div class="content-container">
                <header class="content-header">
                    <h1>Sites</h1>
                    <div class="action-buttons">
                        <a href="{% url 'siteprof' %}" class="btn-primary">Create</a>
                        <a href="{% url 'baill' %}" class="btn-secondary">Create Bailleur</a>
                        
                    </div>
                </header>
                <section class="section">
                    <h2>Section Title 1</h2>
                    <div class="cards">
                        {% for site in sites %}
                        <div class="card">
                            <h3>{{ site.nom_site }}</h3>
                            <p><b>Adresse:</b> {{ site.adresse }} {{ site.commune }} {{ site.code_site }}<br>
                            <b>Propriété:</b> {{ site.propriete }}<br>
                            <b>Remarque:</b> {{ site.remarque }}</p>
                            <a href="{% url 'site_detail' site.id %}" class="show-more">Show More</a>
                        </div>
                        {% endfor %}
                    </div>
                </section>
            </div>
        </div>
    </div>
    <script>
        function setFilterBy(filter) {
            document.getElementById('filterByInput').value = filter;
        }

        // JavaScript to handle filter dropdown visibility
        document.getElementById('filterButton').onclick = function() {
            var dropdown = document.getElementById('filterDropdown');
            if (dropdown.style.display === 'block') {
                dropdown.style.display = 'none';
            } else {
                dropdown.style.display = 'block';
            }
        };

        // Close the dropdown if the user clicks outside of it
        window.onclick = function(event) {
            if (!event.target.matches('#filterButton') && !event.target.closest('.filter')) {
                var dropdowns = document.getElementsByClassName('filter-dropdown');
                for (var i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.style.display === 'block') {
                        openDropdown.style.display = 'none';
                    }
                }
            }
        };

        // JavaScript to handle "Show More" functionality
        document.addEventListener('DOMContentLoaded', function() {
            document.querySelectorAll('.show-more').forEach(button => {
                button.addEventListener('click', function() {
                    const cardContent = this.previousElementSibling; // Get the paragraph element
                    cardContent.classList.toggle('expanded'); // Toggle the expanded class
                    // Remove text change behavior
                });
            });
        });
    </script>
</body>
</html>
